{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>
  {% comment %}this is the html page title{% endcomment %}
  {% trans "Corroborator | Log in" %}
  </title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  {% include "includes/styles.html" %}
</head>
<body class='login'>
  <div class="login-form">
    <form action="/login/" method="post">{% csrf_token %}
      {% if next %}
      <input type="hidden" name="next" value="{{ next }}" />
      {% endif %}

      <div class="login-field">
        <h3>{% trans "Corroborator" %}</h3>
      </div>
      {% if state %}
      <div class="login-field error">
        {{ state }}
      </div>
      {% endif %}
      <div class="login-field">
        <label>{% trans "username:" %}
          <input type="text" name="username" value="{{ username}}" /><br />
        </label>
      </div>

      <div class="login-field">
        <label>{% trans "password:" %}
          <input type="password" name="password" value="" /><br />
        </label>
      </div>

      <div class="login-field">
        <input type="submit" value="{% trans "Log In" %}" />
      </div>
    </form>
  </div>
</body>
</html>
