.reset {
  color: #000000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0px solid transparent;
  background: transparent;
  width: auto;
  float: none;
  overflow: visible;
  position: static;
  text-align: left;
}

.no-animation *,
.no-animation .animated {
  transition-property: none !important;
  -moz-transition-property: none !important;
  -webkit-transition-property: none !important;
  -o-transition-property: none !important;
  -ms-transition-property: none !important;
  transition-duration: 0.0s !important;
  -moz-transition-duration: 0.0s !important;
  -webkit-transition-duration: 0.0s !important;
  -o-transition-duration: 0.0s !important;
  -ms-transition-duration: 0.0s !important;
}

.no-animation {
  transition-property: none !important;
  -moz-transition-property: none !important;
  -webkit-transition-property: none !important;
  -o-transition-property: none !important;
  -ms-transition-property: none !important;
  transition-duration: 0.0s !important;
  -moz-transition-duration: 0.0s !important;
  -webkit-transition-duration: 0.0s !important;
  -o-transition-duration: 0.0s !important;
  -ms-transition-duration: 0.0s !important;
}

.use-base {
  //color: #000000;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.25em;
}

.use-base button,
.use-base tr td,
.use-base tr th {
  font-size: 100%;
}

.use-base a,
.use-base a:active,
.use-base a:hover,
.use-base a:visited,
.use-base a:focus {
  outline: 0;
}

.use-base .is-dragging {
  cursor: move;
}

.use-base.is-dragging {
  cursor: move;
}

.use-base .placeholder {
  display: none;
}

.use-base .noselect {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
}

.use-base .cursor {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
}

.use-base input:focus,
.use-base textarea:focus {
  outline: none;
}

.use-base .cursor-move {
  cursor: move;
}

.use-base .cursor-pointer {
  cursor: pointer;
}

.use-base .action,
.use-base .button,
.use-base button {
  cursor: pointer;
}

.use-base table td,
.use-base table th {
  color: #000000;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 100%;
  padding: 0;
  margin: 0;
  text-align: left;
  vertical-align: top;
}

.use-base .nolinks a,
.use-base .nolinks a:active,
.use-base .nolinks a:visited,
.use-base .nolinks a:hover {
  color: black;
  text-decoration: none;
}

.use-base .lighlinks a,
.use-base .lighlinks a:active,
.use-base .lighlinks a:visited,
.use-base .lighlinks a:hover {
  color: black;
  text-decoration: none;
}

.use-base .lighlinks:hover {
  text-decoration: underline;
}

.use-base ul,
.use-base li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.use-base ul.as-list {
  padding-left: 20px;
  margin-left: 20px;
  list-style-type: disc;
}

.use-base ul.nolist,
.use-base ul.list-h,
.use-base ul.list-v {
  padding: 0;
  margin: 0;
}

.use-base ul.nolist li,
.use-base ul.list-h li,
.use-base ul.list-v li {
  list-style-type: none;
}

.use-base ul.list-h li {
  display: inline;
  display: inline-block;
  margin: 0px;
  margin-right: 5px;
}

.use-base ul.list-v li {
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.use-base .hi {
  background: #ffffa0;
  border-right: 1px solid #dbdb73;
  border-bottom: 1px solid #dbdb73;
  color: #a48b00;
  padding-left: 3px;
  padding-right: 3px;
}

.use-base .b {
  font-weight: bold;
}

.use-base .u {
  text-decoration: underline;
}

.use-base .light {
  opacity: 0.75;
  filter: alpha(opacity=75);
}

.use-base .lighter {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.use-base .small {
  font-size: 90%;
}

.use-base .smaller {
  font-size: 80%;
}

.use-base .bigger {
  font-size: 120%;
}

.use-base .contrast {
  background: #e0e0e0;
}

.use-base .ruler-h {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 1px;
  background: #a0a0a0;
}

.use-base .has-layout {
  position: relative;
}

.use-base .left {
  float: left;
}

.use-base .right {
  float: right;
}

.use-base .hidden {
  display: none !important;
}

.use-base .invisible {
  opacity: 0;
  filter: alpha(opacity=0);
  transition-property: opacity;
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-duration: 1.0;
  -moz-transition-duration: 1.0;
  -webkit-transition-duration: 1.0;
  -o-transition-duration: 1.0;
  -ms-transition-duration: 1.0;
}

.use-base .visible {
  opacity: 1;
  filter: alpha(opacity=100);
}

.use-base .loading {
  opacity: 0;
  filter: alpha(opacity=0);
  transition-property: opacity;
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-duration: 1.0;
  -moz-transition-duration: 1.0;
  -webkit-transition-duration: 1.0;
  -o-transition-duration: 1.0;
  -ms-transition-duration: 1.0;
}

.use-base .loaded {
  opacity: 1;
  filter: alpha(opacity=100);
  transition-property: opacity;
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-duration: 1.0;
  -moz-transition-duration: 1.0;
  -webkit-transition-duration: 1.0;
  -o-transition-duration: 1.0;
  -ms-transition-duration: 1.0;
}

.use-base .clear {
  clear: both;
}

.use-base .clear-left {
  clear: left;
}

.use-base .clear-after:after {
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
}

.use-base .last-clear-after > *:last-child:after,
.use-base .last-clear-after > .last:after {
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}

.use-base .clearer {
  clear: both;
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  height: 0px;
  line-height: 0px;
  width: 0px;
  clear: both;
}

.use-base .clearfix:after {
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}

.use-base .cleared {
  display: inline-block;
}

.use-base .cleared:after {
  content: "" "";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.use-base .cleared {
  display: block;
}

.use-base .clearfix {
  display: inline-block;
}

.use-base html[xmlns] .clearfix {
  display: block;
}

.use-base *:first-child+html .clearfix {
  height: 1%;
}

.use-base * html .clearfix {
  height: 1%;
}

.use-base .align-left {
  text-align: left !important;
}

.use-base .align-center {
  text-align: center !important;
}

.use-base .align-right {
  text-align: right !important;
}

.use-base .as-block {
  display: block;
}

.use-base .as-inlineblock {
  display: inline-block;
}

.use-base .as-float {
  float: left;
}

.use-base .as-link {
  cursor: pointer;
}

.use-base .as-link:hover {
  text-decoration: underline;
}

.use-base .hover-expandable .when-hover {
  display: none;
}

.use-base .hover-expandable:hover .when-hover {
  display: block;
}

.use-base .pos-rel {
  position: relative;
}

.use-base .pos-abs {
  position: absolute;
}

.use-base .inset-5 {
  padding: 5px;
}

.use-base .inset-10 {
  padding: 10px;
}

.use-base .inset-20 {
  padding: 20px;
}

.use-base .hsep-5 {
  padding-right: 5px;
}

.use-base .hsep-10 {
  padding-right: 10px;
}

.use-base .vsep-5 {
  padding-top: 5px;
  height: 0px;
}

.use-base .vsep-10 {
  padding-top: 10px;
  height: 0px;
}

.use-base .vafter-5 {
  margin-bottom: 5px;
}

.use-base .vafter-10 {
  margin-bottom: 10px;
}

.use-base .span-last {
  clear: right;
}

.use-base .span-10p {
  float: left;
  width: 10%;
}

.use-base .span-15p {
  float: left;
  width: 15%;
}

.use-base .span-20p {
  float: left;
  width: 20%;
}

.use-base .span-25p {
  float: left;
  width: 25%;
}

.use-base .span-30p {
  float: left;
  width: 30%;
}

.use-base .span-33p {
  float: left;
  width: 33.332%;
}

.use-base .span-35p {
  float: left;
  width: 35%;
}

.use-base .span-40p {
  float: left;
  width: 50%;
}

.use-base .span-50p {
  float: left;
  width: 50%;
}

.use-base .span-60p {
  float: left;
  width: 50%;
}

.use-base .span-66p {
  float: left;
  width: 66.332%;
}

.use-base .span-70p {
  float: left;
  width: 70%;
}

.use-base .span-75p {
  float: left;
  width: 75%;
}

.use-base .span-80p {
  float: left;
  width: 80%;
}

.use-base .span-85p {
  float: left;
  width: 85%;
}

.use-base .span-90p {
  float: left;
  width: 90%;
}

.use-base .span-100 {
  float: left;
  width: 100px;
}

.use-base .span-200 {
  float: left;
  width: 200px;
}

.use-base .span-400 {
  float: left;
  width: 400px;
}

.use-base .span-600 {
  float: left;
  width: 600px;
}

.use-base .col > .header,
.use-base .col > .body,
.use-base .col > .footer,
.use-base .col > .section > .header,
.use-base .col > .section > .body,
.use-base .col > .section > .footer {
  padding-left: 20px;
  padding-right: 20px;
}

.use-base .col.first > .header,
.use-base .col.first > .body,
.use-base .col.first > .footer,
.use-base .col.first > .section > .header,
.use-base .col.first > .section > .body,
.use-base .col.first > .section > .footer {
  padding-left: 0px !important;
}

.use-base .col.last > .header,
.use-base .col.last > .body,
.use-base .col.last > .footer,
.use-base .col.last > .section > .header,
.use-base .col.last > .section > .body,
.use-base .col.last > .section > .footer {
  padding-right: 0px !important;
}

.use-base .col.last:after {
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}

.use-base .w-25p {
  width: 25% !important;
}

.use-base .w-33p {
  width: 33.3332% !important;
}

.use-base .w-50p {
  width: 50% !important;
}

.use-base .w-66p {
  width: 66.6666% !important;
}

.use-base .w-75p {
  width: 75% !important;
}

.use-base .w-100p {
  width: 100% !important;
}

.use-base .w-200 {
  width: 200px !important;
}

.use-base .w-250 {
  width: 250px !important;
}

.use-base .w-400 {
  width: 400px !important;
}

.use-base .w-600 {
  width: 600px !important;
}

.use-base .by-2 > * {
  float: left;
  width: 50%;
}

.use-base .by-3 > * {
  float: left;
  width: 33.331%;
}

.use-base .by-4 > * {
  float: left;
  width: 25%;
}

.use-base .by-5 > * {
  float: left;
  width: 20%;
}

.use-base .by-6 > * {
  float: left;
  width: 16.667%;
}

.use-base .by-6 > * {
  float: left;
  width: 16.667%;
}

.use-base .by-7 > * {
  float: left;
  width: 14.285%;
}

.use-base .by-8 > * {
  float: left;
  width: 12.5%;
}

.use-base .by-9 > * {
  float: left;
  width: 11.111%;
}

.use-base .by-2,
.use-base .by-3,
.use-base .by-4,
.use-base .by-5,
.use-base .by-6,
.use-base .by-7,
.use-base .by-8,
.use-base .by-9 {
  margin-right: -20px;
}

.use-base .by-2 .by-element > *,
.use-base .by-3 .by-element > *,
.use-base .by-4 .by-element > *,
.use-base .by-5 .by-element > *,
.use-base .by-6 .by-element > *,
.use-base .by-7 .by-element > *,
.use-base .by-8 .by-element > *,
.use-base .by-9 .by-element > * {
  margin-right: 20px;
}

.use-base .to-n {
  position: absolute;
  top: 0px;
}

.use-base .to-ne {
  position: absolute;
  top: 0px;
  right: 0px;
}

.use-base .to-nw {
  position: absolute;
  top: 0px;
  left: 0px;
}

.use-base .to-s {
  position: absolute;
  bottom: 0px;
}

.use-base .to-se {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.use-base .to-sw {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.use-base .to-w {
  position: absolute;
  left: 0px;
}

.use-base .to-e {
  position: absolute;
  right: 0px;
}

.use-base .to-m {
  position: absolute;
  left: 0px;
  right: 0px;
  text-align: center;
}

.use-base .expand {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.use-base .expand-w {
  position: absolute;
  left: 0px;
  right: 0px;
}

.use-base .expand-h {
  position: absolute;
  top: 0px;
  bottom: 0px;
}

.use-base .debug {
  border: 1px solid red;
  margin: -1px;
}

.use-base #Templates,
.use-base .template,
.use-base .templates {
  display: none !important;
}

.use-base #Data,
.use-base .data {
  display: none !important;
}

.use-base .DEBUG {
  border: 1px solid red;
}

.use-base .DEBUG_FILL {
  background: red;
}

