@mixin tag_style {
  @include open_sans_semi_bold;
  color: $TAG_COLOR;
  border: 1px solid $TAG_COLOR;
  float: left;
  margin-right: 1em;
  padding-left: 1em;
  padding-right: 1em;
}


.Application button.combo.invert:hover .options,
.Application .button.combo.invert:hover .options {
  display: block;
  height: auto;
  bottom:100%;
}
.Application button.combo.is-small,
.Application .button.combo.is-small {
  min-width: auto;
}

.Application button.combo.is-small .options,
.Application .button.combo.is-small .options {
  left: -1px;
  right: -1px;
  border-width: 0 1px 1px;
}

.Application button.combo.is-small .options li,
.Application .button.combo.is-small .options li {
  margin: 0;
}

.Application button.combo.is-small span:after,
.Application .button.combo.is-small span:after {
  display: none;
}

@mixin drop-down-box {
  position: relative;
  p {
    width: 85%;
    border: 1px solid $COLOR_INPUT_BD;
    display: inline-block;
    padding: 4px;
    
  }
  button {
    border-top: 1px solid $COLOR_INPUT_BD;
    margin: 1px;
    margin-left: -3px;
  }
  ul {
    position: absolute;
    width: 100%;
    z-index: 1000;
    top: 26px;
    /*left: 3px;*/
    background-color: white;
    border: 1px solid $COLOR_INPUT_BD;
    li {
      padding: 3px;
      &:hover {
        background-color: #dedede;
      }
    }
  }
}
.drop-down-container {
  @include drop-down-box;
}
.version-description-text {
  margin: 0px;
  margin-top: 5px;
}
