$RESULT_BG_COLOR: #f5f0ec;
// ===========================================================================
// RESULTS STYLING
// ===========================================================================

// wrapper for table
.results-body {
  bottom: 0em;
  overflow: auto;
  right: $PAD_UNIT;
  left: $PAD_UNIT;
  position: absolute;
  top: 89px;
}
.results-body  .padding {
    padding-left: $PAD_UNIT;
}

.empty-results {
  width: 100%;
  text-align: center;
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 20px;
  margin-top: 20px;
  color: #aaaaaa;
}

//all tables

table.bulletins,table.incidents,table.actors {
  width: 100%;
  .is-preview {
    min-width: 2.5em;
  }
  .is-status {
    width: 4em;
  }
  .is-score {
    width: 3.5em;
  }
  tbody {
    td: {
      border-color: $RESULT_LIST_BORDER;
    }
    tr:first-child, tr.first {
      td {
        border-top: 0px solid transparent;
      }
    }
    tr:last-child, tr.last {
      td {
        border-bottom: 0px solid transparent;
      }
    }
  }
}

span.status {
  display: inline-block;
  padding: 0.25em;
  background-color: $HEADER_SELECTED_COLOR;
  color: #fff;
  @include open_sans_semi_bold;
  text-transform: uppercase;
  > span {
    font-size: 70%;
  }
}

.Bulletin.in-table,.Incident.in-table {
  td {
    border-top: 1px solid $RESULT_LIST_BORDER;
    border-bottom: 1px solid $RESULT_LIST_BORDER;
    background-color: $RESULT_BG_COLOR;
    color: #646362;
    padding: 0.5em;
  }
  td.is-selector {
    vertical-align: middle;
    text-align: center;
    width: 1.5em;
    border-left: 1px solid $RESULT_LIST_BORDER;
  }
  td.is-preview {
    background-color: $COLOR_MEDIA_BG;
  }
  td.is-description {
    a {
      &, &:active, &:visited, &:hover {
        text-decoration: none;
      }
    }
    > a:after {
      content: "";
      clear: both;
      display: block;
    }
    .title {
      line-height: 1.25em;
      font-weight: bold;
    }
    .details {
      float: left;
      font-size: 90%;
    }
    .meta {
      float: right;
      font-size: 90%;
    }
  }
  td.is-status {
    vertical-align: middle;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
  }
  td.is-score {
    vertical-align: middle;
    text-align: center;
    border-left: 1px solid $RESULT_LIST_BORDER;
    border-right: 1px solid $RESULT_LIST_BORDER;
    .value {
      font-size: 180%;
      font-weight: bold;
    }
  }
  &:hover td {
    background-color: $COLOR_SELECTABLE_HOVER;
  }
}

.actors.table {
  
  li.result {
    width: 50%;
    float: left;
    box-sizing: border-box;
    position:relative;
  }
  .Actor {
    &:hover > div {
      cursor: pointer;
      background-color: $COLOR_SELECTABLE_HOVER;
    }
    &:hover > div.is-selector {
      border-right: 1px solid $COLOR_SELECTABLE_HOVER;
    }
  }
  .is-selector {
    width: 18px;
    float:left;
    border: 1px solid $COLOR_TABLE_BD;
    border-right: 1px solid $RESULT_BG_COLOR;
    margin-right: -1px;
    background-color: $RESULT_BG_COLOR;
  }
  .actor-content {
    height: 10em;
    @include clearfix;
    border: 1px solid $COLOR_TABLE_BD;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: $RESULT_BG_COLOR;
  }
  .sex, .age {
    float: left;
  }
  .aka {
    width: 100%;
  }
  .name {
    @include one_line_ellipsis($width:65%, $height: 16px);
  }
  .aka {
    @include one_line_ellipsis($width:80%, $height: 16px);
  }
  .works-as, .lives-in {
    @include one_line_ellipsis($width:50%, $height: 16px);
  }
  .L1, .L2, .L3 {
    width: 100%;
    position: relative;
  }
  .L3 p {
    float:left;
  }
}

