$BRIGHT_RED: #fd6d5a;
$BRIGHT_RED_HOVER: #ca5b4d;
$INCIDENT_BLUE: #6bcad8;
$ACTOR_YELLOW: #f1be33;
$BULLETIN_GREEN: #b5cd5f;
$USER_RED: #FC4C4C;

// HEADER
// COLOURS
$HEADER_MENU_BG: #040303;
$HEADER_SELECTED_COLOR: #E9C37B;
$HEADER_UNSELECTED_COLOR: #848382;

// DIMENSIONS
$HEADER_HEIGHT: 27px;


// form border
$BORDER_GREY: #3f3e3d;
$INPUT_HEIGHT: 2.0em;
$COLOR_INPUT_BD: #ddd2c7;

$TAG_COLOR: #fd6d5a;

// FOOTER BUTTON COLORS
$FOOTER_BUTTON_COLOR: $BRIGHT_RED;
$FOOTER_BUTTON_HOVER_COLOR: #d96859;


// DISPLAY SCREENS
$DISPLAY_TEXT_LIGHT: #b5afa7;
$DISPLAY_TEXT_MID: #8c8b8a;
$DISPLAY_TEXT_DARK: #626262;

$DISPLAY_BORDER: #b7b6b2;

// tab area colors
$TAB_AREA_BG: #212020;
$TAB_SELECTED_BG: #2B2A2A;
$TAB_TEXT: #FFF;
$TAB_NUMBER: #807E7E;

$SELECTED_INCIDENT_BORDER: $INCIDENT_BLUE;
$SELECTED_ACTOR_BORDER: $ACTOR_YELLOW;
$SELECTED_BULLETIN_BORDER: $BULLETIN_GREEN;
$SELECTED_USER_BORDER: $USER_RED;

$SELECTED_TAB_BG: #2b2a2a;

// DIMENSIONS
$TAB_HEIGHT: 3em;

// RESULT LIST
$RESULT_LIST_BORDER: #bfbfba;
// ACTION HEADER
$ACTION_BG_COLOR: $BRIGHT_RED;
$SEPERATOR_COLOR: $BRIGHT_RED_HOVER;

// DIMENSIONS
$ACTION_BAR_HEIGHT: 4em;

// SORT HEADERS


// FFUNCTION VARIABLES
$FONT_SIZE: 13;
$PX: 1em/$FONT_SIZE;
$PAD_UNIT: 20 * $PX;
$COLOR_HEADER_BG: #000000;
$COLOR_HEADER_BD: #A0A0A0;
$COLOR_HEADER_TXT: #FFFFFF;
$COLOR_TXT: #202020;
$COLOR_MEDIA_BG: #D0D0D0;
$COLOR_MEDIA_BD: #A0A0A0;
$COLOR_ACTIONS_BG: #F0F0F0;
$COLOR_BUTTON_BD: #666666;
$COLOR_BUTTON_BG: #E8E8E8;
$COLOR_INPUT_BD: #ddd2c7;
$COLOR_TAB_BD: #666666;
$COLOR_LIST_BD: #E0E0E0;
$COLOR_DRAWER_BD: #A0A0A0;
$COLOR_DRAWER_BG: #FFFFFF;
$COLOR_AGE_BG: #F0F0F0;
$COLOR_AGE_SELECTED: #999999;
$COLOR_BULLETIN_BD: #ECECEC;
$COLOR_INCIDENT_BD: #767676;
$COLOR_ACTOR_BD: #B1B1B1;
$COLOR_TAG_BD: #A0A0A0;
$COLOR_TAG_BG: #F0F0F0;
$COLOR_I18N_BD: #A0A0A0;
$COLOR_I18N_BG: #FFFFFF;
$COLOR_I18N_SEL_BG: #E0E0E0;
$COLOR_TABLE_BD: #A0A0A0;
$COLOR_OPTION_SELECTED_BD: #A0A0A0;
$COLOR_OPTION_SELECTED_TXT: #606060;
$COLOR_NOTIFICATION_BG: #B8B8B8;
$COLOR_NOTIFICATION_TXT: #606060;
$COLOR_SELECTION_BG: #F0F0F0;
$COLOR_SELECTION_BD: #A0A0A0;
$COLOR_SELECTABLE_HOVER: #F0F0F0;
$COLOR_PLACEHOLDER_BG: #F0F0F0;
$Z_MENU: 10;
$Z_HEADER: 5;
$Z_COLUMN_HEADER: 2;
$Z_OVERLAY: 15;
$Z_OVERLAY_HEADER: 1;
$Z_SELECTOR: 20;

$TOP_DIST_COLS: 8.15em;
