<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}fonts/iconic-fill/font.css" />
<!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>-->
<link rel="stylesheet" href="{{ STATIC_URL }}js/bower_components/leaflet/dist/leaflet.css" type="text/css" media="screen" charset="utf-8">
<link rel="stylesheet" href="{{ STATIC_URL}}js/bower_components/jquery.ui/dist/jquery-ui.css" />
<link rel="stylesheet" href="{{ STATIC_URL}}js/bower_components/nvd3/nv.d3.min.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/jquery-ui-1.10.3.custom.css" />
<link rel="stylesheet" href="{{ STATIC_URL}}js/bower_components/flowplayer/dist/skin/minimalist.css" />
<link rel="stylesheet" href="{{ STATIC_URL}}js/bower_components/jquery-timepicker-addon/jquery-ui-timepicker-addon.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/screen.css" />
