{% load i18n %}
  <div class="tabs">
    <ul>
      <li class="is-bulletins">
        <a href="#tab/bulletin" id="bulletin-tab">
          <span class="text">
            <span class="label T">{% trans "Bulletins" %}</span>
          </span>
        </a>
      </li>
      <li class="is-actors">
        <a href="#tab/actor" id="actor-tab">
         <span class="text">
          <span class="label T">{% trans "Actors" %}</span>
        </span>

      </a>
    </li>
  </ul>
  <div class="clearer">&nbsp;</div>
</div>
