{% load i18n %}
  <div class="tabs">
    <ul>
      <li class="is-incidents current">
        <a id="incident-tab" href="#tab/incident">
          <span class="text">
            <span class="label T">{% trans "Incidents" %}</span>
          </span>
        </a>
      </li>

      <li class="is-bulletins">
        <a href="#tab/bulletin" id="bulletins-tab">
          <span class="text">
            <span class="label T">{% trans "Bulletins" %}</span>
          </span>
        </a>
      </li>

      <li class="is-actors">
        <a href="#tab/actor" id="actors-tab">
         <span class="text">
          <span class="label T">{% trans "Actors" %}</span>
        </span>

      </a>
    </li>
    <li class="is-users">
      <a id="user-tab" href="#tab/user">
        <span class="text">
          <span class="label T">{% trans "Users" %}</span>
        </span>
      </a>
    </li>

  </ul>
  <div class="clearer">&nbsp;</div>
</div>
