{% load i18n %}
  <div class="tabs">
    <ul>
      <li class="is-incidents">
        <a href="#tab/incident" id="incidents-tab">
          <span class="text">
            <span class="label T">{% trans "Incidents" %}</span>
            <span class="incident-count count"></span>
          </span>
        </a>
      </li>
      <li class="is-bulletins">
        <a id="bulletins-tab" href="#tab/bulletin">
          <span class="text">
            <span class="label T">{% trans "Bulletins" %}</span>
            <span class="bulletin-count count"></span>
          </span>
        </a>
      </li>

      <li class="is-actors">
        <a href="#tab/actor" id="actors-tab">
         <span class="text">
          <span class="label T">{% trans "Actors" %}</span>
          <span class="actor-count count"></span>
        </span>

      </a>
    </li>
  </ul>
  <div class="clearer">&nbsp;</div>
</div>
