@font-face { 
  font-family: 'IconicFill';
  src: url('iconic_fill.eot');
  src: url('iconic_fill.eot?#iefix') format('embedded-opentype'), url('iconic_fill.ttf') format('truetype'), url('iconic_fill.svg#iconic') format('svg');
  font-weight: normal;
  font-style: normal;
}
